<%- include('partials/header.ejs') %> 
  <div class="nav">
    <div class="page-title"><a href="/">TODO</a></div>
    <div class="page-sync" title="Sync"><a href="/sync"><i class="fa-solid fa-rotate fa-2x fa-spin"></i></a></div>
  </div>
  <div class="card-container">
    <%- include('partials/card_column.ejs', {customClass: 'card-to-do', statusIndex: 0}) %> 
    <%- include('partials/card_column.ejs', {customClass: 'card-doing', statusIndex: 1}) %> 
    <%- include('partials/card_column.ejs', {customClass: 'card-done', statusIndex: 2}) %> 
  </div>
  <div class="modal hidden">
    <div class="modal-content">
      <div class="modal-title">
        <p class="modal-title-text">CREATE TASK</p>
        <i class="fas fa-times exit modal-exit"></i>
      </div>
      <%- include('partials/form.ejs') %> 
    </div>
  </div>
<%- include('partials/footer.ejs') %> 